body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url('../images/nathan-anderson-91789-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.col-lg-6 {
    padding-top: 2em;
}

h5 {
    padding-top: 2em;
    color: white !important;

}

p {
    /* padding-top: 2em; */
    color: white;
    font-size: 20px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 1em;
}


.img-thumbnail {
    height: 180px !important;
}

.row h6 {
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.section {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background: white;
    margin: 0 auto;
    width: 1200px;
}

.main {
    margin: 16px auto 92px auto;
}

.flight {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background: white;
    width: 1200px;
}

.one,
.two {
    margin: 10px;

}

.flight-stuff {
    margin-bottom: 20px;
}

.flight-info {
    padding: 20px;
    margin: 0 auto;
    background: white;
    text-align: center;
    width: 1200px;
}

 .btn-info{
    padding: 10px;
    margin: 10px;
    background: rgb(10, 16, 22);
}

footer h6 {
    margin: 0 auto;
    width: 960px;
    background: rgb(200, 84, 19);
}

footer {
    clear: both;
    text-align: center;
    padding: 25px 25px 25px 25px;
    margin: 10px;
    width: 100%;
    margin: 16px auto 92px auto;
    height: 100%;
    color: white;
}

.chart {
    background:white;
}


@media screen and (max-width: 768px) {

    .main,
    footer {
        width: 100%;
    }

    @media screen and (max-width: 640px) {

        .section,
        .container,
        .table,
        footer {
            width: 100%;
        }
    }

